.about {
  flex-direction: column;
  margin-bottom: 3em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}

@media (max-width: 360px) {
  h1 span {
    font-size: smaller;
  }
  .about__role {
    font-size: smaller;
  }
}
