.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-top: 2px solid #f1f1f1;
    padding: 1.5rem 0.5rem;
}


.info{
    margin:6px 0 18px 0;
    color: var(--clr-fg-alt);
    display: flex;
    gap: 10px;
    
}
.info .author{
    color:var(--clr-primary);
    font-weight: bold;
}

.image{
    display: flex;
    overflow:hidden;
}

.image img {
    object-fit: cover;
    object-position: center center;
    max-width: 100%;
}

.texts{
    padding:0 1.5rem ;
}

@media screen and (min-width: 600px) {
.post{
        display:column;
    }
}

@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
}